{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 col-md-offset-3 text-center img-resize-border" style="margin-bottom: 40px; margin-top: 100px; text-align: center;">
        <h1><em>SATELITE IMAGE TO TEXT CONVERTER</em> </h1>
        <div class="col-md-12" style="padding-bottom: 25px;">
            <div class="forms">
   <p style="color:red;  font-size: 2em;"> You have successfully logged out.</p>
    <a style="color:red; font-size: 2em;" href="/">Home</a>
            </div>
            </div>
            </div>
{% endblock %}
